venv/
__pycache__/
*.pyc
.idea/
.vscode/
*.db
*.sqlite
*.sqlite3
.env

# Bases de datos de SQLite (archivos principales y temporales)
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-wal
*.db-shm

# Proyectos de DB Browser para SQLite
*.sqbpro